@import "tailwindcss";

:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

* {
  box-sizing: border-box;
  font-family: "Pretendard";
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

/* =========================
   Scrollbar Hide
========================= */

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
