@import "tailwindcss";

:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

* {
  box-sizing: border-box;
  font-family: "Pretendard";
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

/* =========================
   Scrollbar Hide
========================= */

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* =========================
   Click Scale
========================= */

.click-scale {
  transition:
    transform 0.15s ease,
    opacity 0.15s ease;
}

.click-scale:active {
  transform: scale(0.96);
}

/* 아이콘처럼 작은 버튼 */
.click-scale-sm {
  transition:
    transform 0.15s ease,
    opacity 0.15s ease;
}

.click-scale-sm:active {
  transform: scale(0.92);
}
